## This file converts the catgorized data to a new binary columns

In [1]:
import os
import sys
import numpy as np
import json
import matplotlib.pylab as plt
import pandas as pd
import getpass
%matplotlib inline 
sys.path.append("..") # go to parent dir
import Code.DataReviewFunctions as DataReviewUtils
import Code.DataCollect as DataCollectUtils
from __future__ import print_function
from tqdm import tqdm
import unicodecsv as csv
import random

Path Locations

In [19]:
username = getpass.getuser()
if username == 'sdekel':
    data_path = 'C:\DataSets\yelp_dataset\processed_data'
elif username == 'zahi':
    data_path = 'D:\\users\\zahi\\OneDrive - Bar-Ilan University\\yelp_dataset_challenge_round9\\yelp2'
else:
    data_path = ''  ## TODO: PUT YOUR DATA PATH HERE

Dataset Names

In [20]:
business_data_name = 'yelp_academic_dataset_business_with_Clustered_location_restaurants.csv'
business_fullpath = os.path.join( data_path, business_data_name )

Read DataFrame

In [21]:
business_data = pd.read_csv(business_fullpath, encoding='latin1')

In [22]:
len(business_data.columns)

117

In [23]:
load_json = False
if load_json:
    business_data_name = 'yelp_academic_dataset_business_with_Clustered_location.json'
    business_fullpath = os.path.join( data_path, business_data_name )
    business_data = pd.read_json(business_fullpath, encoding='latin1', lines=True)

In [24]:
# pd.get_dummies(  business_data['categories'])  ### A METHOD THAT WORKS BUT IN THIS CASE DOESN"T SINCE WE HAVE MULTIPULE CATEGORIES PER BUSINESS

In [25]:
categories_list = business_data['categories'].values.tolist()
len(categories_list)

48485

In [26]:
print("Calculating all categories represented in the data...")
all_categories = []
for ind,item in enumerate(categories_list):
       if not pd.isnull(categories_list[ind]):
           all_categories.append( categories_list[ind].split(',') )
        
flattened_all_categories = [ val for sublist in all_categories for val in sublist ]
flattened_all_categories_set = set(flattened_all_categories)

Calculating all categories represented in the data...

In [27]:
len(set(flattened_all_categories))

776

In [28]:
binary_categories_data = pd.get_dummies(flattened_all_categories)

In [29]:
binary_categories_data.head()

,African,Air Duct Cleaning,Aircraft Repairs,Airports,Airsoft,Amateur Sports Teams,American (New),American (Traditional),Amusement Parks,Animal Shelters,...,Peruvian,Pet Boarding/Pet Sitting,Pet Stores,Pets,Pita,Pizza,Polish,Portuguese,Poutineries,Restaurants
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Create a new DataFrame that contians the new binary categories

In [30]:
binary_categories_df = pd.DataFrame(0,index=range(len(business_data)) , columns=flattened_all_categories_set)
binary_categories_df.head()

,Creperies,Tapas Bars,Wigs,Hawaiian,Public Services & Government,Adult Entertainment,General Dentistry,Dance Schools,Bakeries,International Grocery,...,Armenian,Water Heater Installation/Repair,Cooking Schools,Permanent Makeup,Wraps,Beer,Limos,Cambodian,Pool Halls,South African
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
# business_data.pivot_table(index= range( 144072), columns=['categories'], aggfunc=[len], fill_value=0)
# cleaned = business_data.set_index('categories').split(',', expand=True).stack()
# business_data['categories']
# pd.get_dummies(business_data['categories'])
# pd.get_dummies(  business_data['categories']).groupby(level=0)

In [32]:
# binary_categories_df[['Nightlife', ' Shopping']]  
# binary_categories_df.iloc[8][['Nightlife', ' Shopping']]

In [33]:
# binary_categories_df[business_data['categories'][0].split(',') ] = 1
# binary_categories_df[[' Shopping','Nightlife']]
# binary_categories_df.iloc[0][[' Shopping','Nightlife']]
# binary_categories_df.iloc[3][business_data['categories'][0].split(',') ] = 0

Create the binary categories

In [34]:
business_data['categories'] = business_data['categories'].dropna()
for i in range(len(categories_list)):
    if not pd.isnull(business_data['categories'][i]):
        binary_categories_df.iloc[i][ business_data['categories'][i].split(',') ] = 1

In [35]:
binary_categories_df.head()

,Creperies,Tapas Bars,Wigs,Hawaiian,Public Services & Government,Adult Entertainment,General Dentistry,Dance Schools,Bakeries,International Grocery,...,Armenian,Water Heater Installation/Repair,Cooking Schools,Permanent Makeup,Wraps,Beer,Limos,Cambodian,Pool Halls,South African
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Checking if the binary lables was succeeded

In [36]:
index = random.randint(0,len( binary_categories_df))
print( 'The original business_data[categories] at index %d is: %s' % (index,business_data['categories'][index]))
print('SUM = %d' % len(business_data['categories'][index].split(',')))
print( 'The Binary labels binary_categories_df at index %d is:' % index )
count = 0 
for i in range(len( binary_categories_df.iloc[index] )):
    if binary_categories_df.iloc[index][i] == 1:
        print(binary_categories_df.columns[i] )
        count = count + 1
print('SUM = %d' % count )
assert( count == len(business_data['categories'][index].split(',')))

The original business_data[categories] at index 3255 is: Asian Fusion, Restaurants, Thai
SUM = 3
The Binary labels binary_categories_df at index 3255 is:
 Thai
Asian Fusion
 Restaurants
SUM = 3

Insert the new labels as a new feature in the CSV business data file

In [41]:
binary_categories_df.shape[1] + business_data.shape[1]

893

In [18]:
business_data.drop('categories',axis=1, inplace=True)
business_data = business_data.join(binary_categories_df)

In [19]:
print ( 'The number of columns of the new data frame is: %d' % len(business_data.columns))
business_data.head()

The number of columns of the new data frame is: 892

,Unnamed: 0,address,attribute_AcceptsInsurance,attribute_AgesAllowed,attribute_Alcohol,attribute_Ambience_casual,attribute_Ambience_classy,attribute_Ambience_divey,attribute_Ambience_hipster,attribute_Ambience_intimate,...,Acupuncture,Kids Activities,Bagels,Pan Asian,Gay Bars,Opera & Ballet,Financial Services,Pakistani,Oil Change Stations,Trainers
0,0,979 Bloor Street W,False,False,none,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,0
1,1,11072 No Frank Lloyd Wright,False,False,none,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,0
2,2,"1500 N Green Valley Pkwy, Ste 230",False,False,none,True,False,False,False,False,...,0,0,0,0,0,0,0,0,0,0
3,3,"1052 Lionel-Daunais, Suite 302",False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,0
4,4,"2000 Mansfield Street, Suite 104",False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,0

Save the file

In [20]:
business_data_name_to_save = 'yelp_academic_dataset_business_with_Clustered_location_with_Binary_Categories_restaurants.csv'
business_fullpath = os.path.join( data_path, business_data_name_to_save )
business_data.to_csv(business_fullpath )

In [54]:
save_json = False
if save_json:
    business_data_name_to_save = 'yelp_academic_dataset_business_with_Clustered_location_with_Binary_Categories.json'
    business_fullpath = os.path.join( data_path, business_data_name_to_save )
    business_data.to_json(business_fullpath, lines=True, orient='records')