In [1]:
import os
import sys
import numpy as np
import json
import matplotlib.pylab as plt
import pandas as pd
import getpass
%matplotlib inline 
sys.path.append("..") # go to parent dir
import unicodecsv as csv

Path Locations

In [2]:
username = getpass.getuser()
if username == 'sdekel':
    data_path = 'C:\DataSets\yelp_dataset\processed_data'
elif username == 'zahi':
    data_path = 'D:\\users\\zahi\\OneDrive - Bar-Ilan University\\yelp_dataset_challenge_round9\\yelp2'
else:
    data_path = ''  ## TODO: PUT YOUR DATA PATH HERE

Dataset Names

In [3]:
business_data_name = 'yelp_academic_dataset_business_with_Clustered_location_with_Binary_Categories_restaurants.csv'
business_fullpath = os.path.join( data_path, business_data_name )

Read DataFrame

In [4]:
business_data = pd.read_csv(business_fullpath, encoding='latin1')

In [9]:
business_data.head()

,Unnamed: 0,Unnamed: 0.1,address,attribute_AcceptsInsurance,attribute_AgesAllowed,attribute_Alcohol,attribute_Ambience_casual,attribute_Ambience_classy,attribute_Ambience_divey,attribute_Ambience_hipster,...,Acupuncture,Kids Activities,Bagels,Pan Asian,Gay Bars,Opera & Ballet,Financial Services,Pakistani,Oil Change Stations,Trainers
0,0,0,979 Bloor Street W,False,False,none,False,False,False,False,...,0,0,0,0,0,0,0,0,0,0
1,1,1,11072 No Frank Lloyd Wright,False,False,none,False,False,False,False,...,0,0,0,0,0,0,0,0,0,0
2,2,2,"1500 N Green Valley Pkwy, Ste 230",False,False,none,True,False,False,False,...,0,0,0,0,0,0,0,0,0,0
3,3,3,"1052 Lionel-Daunais, Suite 302",False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,0
4,4,4,"2000 Mansfield Street, Suite 104",False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,0

In [13]:
business_data.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'address', 'attribute_AcceptsInsurance',
       'attribute_AgesAllowed', 'attribute_Alcohol',
       'attribute_Ambience_casual', 'attribute_Ambience_classy',
       'attribute_Ambience_divey', 'attribute_Ambience_hipster',
       ...
       'Acupuncture', ' Kids Activities', 'Bagels', 'Pan Asian', ' Gay Bars',
       ' Opera & Ballet', ' Financial Services', ' Pakistani',
       ' Oil Change Stations', ' Trainers'],
      dtype='object', length=893)

In [14]:
print('Number of columns = %d ' % len(business_data.columns))

Number of columns = 893

In [15]:
business_data.drop('Unnamed: 0',axis=1, inplace=True)
print('Number of columns = %d ' % len(business_data.columns))

Number of columns = 892

In [16]:
business_data.drop('Unnamed: 0.1',axis=1, inplace=True)
print('Number of columns = %d ' % len(business_data.columns))

Number of columns = 891

In [17]:
business_data.drop('address',axis=1, inplace=True)
print('Number of columns = %d ' % len(business_data.columns))

Number of columns = 890

In [18]:
business_data.drop('city',axis=1,inplace=True )
print('Number of columns = %d ' % len(business_data.columns))

Number of columns = 889

In [19]:
business_data.drop('name',axis=1,inplace=True )
print('Number of columns = %d ' % len(business_data.columns))

Number of columns = 888

In [20]:
business_data.drop('neighborhood',axis=1,inplace=True )
print('Number of columns = %d ' % len(business_data.columns))

Number of columns = 887

In [21]:
business_data.drop('state',axis=1,inplace=True )
print('Number of columns = %d ' % len(business_data.columns))

Number of columns = 886

In [22]:
business_data.drop('type',axis=1,inplace=True )
print('Number of columns = %d ' % len(business_data.columns))

Number of columns = 885

In [23]:
business_data.head()

,attribute_AcceptsInsurance,attribute_AgesAllowed,attribute_Alcohol,attribute_Ambience_casual,attribute_Ambience_classy,attribute_Ambience_divey,attribute_Ambience_hipster,attribute_Ambience_intimate,attribute_Ambience_romantic,attribute_Ambience_touristy,...,Acupuncture,Kids Activities,Bagels,Pan Asian,Gay Bars,Opera & Ballet,Financial Services,Pakistani,Oil Change Stations,Trainers
0,False,False,none,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,0
1,False,False,none,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,0
2,False,False,none,True,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,0
3,False,False,False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,0
4,False,False,False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,0

Save to new CSV

In [24]:
business_data_name_to_save = 'yelp_academic_dataset_business_with_Clustered_location_with_Binary_Categories_clean_restaurants.csv'
business_fullpath = os.path.join( data_path, business_data_name_to_save )
business_data.to_csv(business_fullpath )